@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  --holo-color-1: #2a1188;
  --holo-color-2: #84559d;
  /* ... etc */
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* For smoother glow effects */
.glow-text {
  text-shadow: 0 0 10px rgba(110, 90, 255, 0.7),
    0 0 20px rgba(110, 90, 255, 0.5), 0 0 30px rgba(110, 90, 255, 0.3);
}

/* Smooth transition between sections */
section {
  scroll-snap-align: start;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}
html,
body {
  overflow-x: hidden;
}
/* Add this to your global CSS or Tailwind config */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}


